# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\AAA_school\OneDrive - City, University of London\IN2029 c++\in2029-portfolio-Kukindoo\coursework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
